body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  height: 2em;
  width: 5em;
  background: grey;
}

.menu {
  display: inline-block;
}

.menu a {
  margin: .5em;
}

.card {
  width: 14em;
  background: grey;
  border: solid .1em black;
  border-radius: 1em;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.basket {
  background: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0em;
  left: 0em;
}

.basket>.card {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}